HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/.mvn/
/mvnw.cmd
/mvnw
/.m2/
/dbdata/
/reservation-services/mvnw
/reservation-services/mvnw.cmd
/room-services/mvnw
/room-services/mvnw.cmd
/guest-services/mvnw
/guest-services/mvnw.cmd
/config-server/mvnw.cmd
/config-server/mvnw
/guest-services/.mvn/wrapper/maven-wrapper.jar
/guest-services/.mvn/wrapper/maven-wrapper.properties
